<br>
<div class="row">
    <div class="col-3">
        <button class="btn btn-sm btn-success" (click)="storeLoggedData()">
        Store logged user
        </button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-3">
        <p>Card Number: {{formatedCardNumber}}</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-3">
        @if(isDivVisible == true){
            <div class="bg-primary p-4">
            div 1
            </div>
        }
    </div>
    <div class="col-4">
        <input type="checkbox" [(ngModel)]="isOffer" class="form-check" > I have a offer code
        @if(isOffer){
            <input type="text" placeholder="Enter code" class="form-control">
        }
        @else {
            <p>No offer code needed</p>
        }
    </div>
    <div class="col-3">
        @if (offerStatus == "new") {
            <h3>Order placed</h3>
        }
        @else if (offerStatus == "shipping") {
            <h3>Order is shipping</h3>
        }
        @else if (offerStatus == "delivered"){
            <h3>Order delivered</h3>
        }
        @else{
            <h3>No orders</h3>
        }
    </div>
</div>
<div class="row">
    <div class="col-auto">
        <h5>Lista de ciudades</h5>
        <ul>
            @for (city of cityList; track $index) {
                <li>{{city}}</li>
            }
        </ul>
    </div>
    <div class="col-auto">
        <h5>Botones de ciudades</h5>
            @for (city of cityList; track $index) {
                <button class="btn btn-sm btn-success mx-2">{{city}}</button>
            }
    </div>
    <div class="col-auto">
        <h5>Select de ciudades</h5>
        <select name="" id="" class="form-control form-control-sm">
            @for (city of cityList; track $index) {
                <option>{{city}}</option>
            }
        </select>
    </div>
</div>
<div class="row">
    <div class="col-auto">
        <table class="table table-responsive table-hover table-striped">
            <thead>
                <th>#</th>
                <th>Alumno</th>
                <th>Ciudad</th>
                <th>Num Control</th>
            </thead>
            <tbody>
                @for (student of studentList; track $index) {
                    <tr>
                        <td>{{student.id}}</td>
                        <td>{{student.name}}</td>
                        <td>{{student.city}}</td>
                        <td>{{student.rollNo}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-auto">
        <h5>Select de alumnos</h5>
        <select [(ngModel)]="selectedStudentId" class="form-control form-control-sm">
            @for (item of studentList; track $index) {
                <option [value]="item.id">{{item.name}}</option>
            }
        </select>
        <br>
        <h5>id Seleccionado: {{selectedStudentId}}</h5>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <button class="btn btn-warning" (click)="toggleDiv1()">Toogle</button>
    </div>
</div>
<hr>
<div class="row">
    @for (item of studentList; track $index) {
        <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{item.name}}</h4>
                <p class="card-text">Este alumno es de la ciudad de: {{item.city}}. Su id es: {{item.id}}</p>
                <a href="#" class="card-link">Editar</a>
                <a href="#" class="card-link">Eliminar</a>
            </div>
        </div>
    </div>
    }
</div>